@import '../../../../../styles/variables.less';

.product-container {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid @grey-1;

    img {
        width: 100%;
    }

    .title {
        line-height: 0;
    }

    input {
        padding: .25rem
    }

    .price {
        padding-left: .5rem;
    }
}