<nav class="navbar navbar-toggleable-md fixed-top">

    <a class="navbar-brand" href="#">Scratch</a>

    <div class="collapse navbar-collapse"
         id="collapse-navbar"
         [ngbCollapse]="isNavbarCollapsed">

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link"
                   href="#">Dry food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"
                   href="#">Wet food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"
                   href="#">Treats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"
                   href="#">Contact us</a>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav  navbar-toggler-right vertical-center ml-auto icon-menu-container">
        <li class="nav-item hidden-lg-up">
            <a class="nav-link navbar-toggler"
               (click)="isNavbarCollapsed = !isNavbarCollapsed"
               aria-controls="collapse-navbar"
               aria-expanded="false"
               aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fa fa-shopping-basket"></i>
            </a>
        </li>
    </ul>
</nav>