@import '../../../styles/variables.less';

.card {
    margin-bottom: 1.25rem;

    .thumbnail {
        width: 80%;
        margin: auto;
        margin-bottom: 1.5rem;
    }

    .title {
        font-size: .9rem;
        height: 5rem;

        small {
            color: @grey-1;
        }
    }
}